 <!-- Navigation Bar-->
 <header id="topnav" class="defaultscroll scroll-active">
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <!-- <i class="mdi mdi-phone-classic"></i> +1 800 123 45 67 -->
                </div>
                <div class="email">
                    <a href="contact.html">
                        <i class="mdi mdi-email"></i> Contáctanos
                    </a>
                </div>
            </div>
            <div class="float-right">
                <ul class="topbar-list list-unstyled d-flex" style="margin: 11px 0px;">
                    <li class="list-inline-item"><a href="javascript:void(0);"><i class="mdi mdi-account mr-2"></i>Homer J Simpson</a></li>
                    <li class="list-inline-item">
                        <a href="javascript:void(0);">
                            <select id="select-lang" class="demo-default" placeholder="Language">
                                <option value="1">Español</option>
                                <option value="2">English</option>
                            </select>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="container">
        <!-- Logo container-->
        <div>
            <a href="index.html" class="logo">
                <img src="/../assets/resources/images/logo-light.png" alt="" class="logo-light" height="28" />
                <img src="/../assets/resources/images/logo-dark.png" alt="" class="logo-dark" height="28" />
            </a>
        </div>
        <!-- End Logo container-->
        <div class="menu-extras">

            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

       <app-navbar></app-navbar>
       <app-login-modal-component></app-login-modal-component>
       <app-sign-in-modal-component></app-sign-in-modal-component>
    </div>
</header>
<!-- End Navigation Bar-->