<div id="navigation">

    <!-- Navigation Menu-->
    <ul class="navigation-menu">

        <li class="has-submenu">
            <a href="employers-list.html">Startups</a>
        </li>
        <li class="has-submenu">
            <a href="job-list.html">Ofertas</a>
        </li>
        <li class="has-submenu">
            <a href="#">Acceso</a>
            <span class="menu-arrow"></span>
            <ul class="submenu">
                <li>
                    <a href="#ModalCenter" class="nav-link" data-toggle="modal" data-target="#ModalCenter">Startups</a>
                </li>
                <li>
                    <a href="#ModalCenter1" class="nav-link" data-toggle="modal" data-target="#ModalCenter1">Candidatos</a>
                </li>
            </ul>
        </li>

        <li class="has-submenu">
            <a href="contact.html">Elenius</a>
        </li>
        <a href="post-a-job.html" class="btn btn-custom btn-sm"><i class="mdi mdi-cloud-upload"></i> Publica una oferta</a>
    </ul>
    <!-- End navigation menu-->
</div>