<section class="section kw-main-section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h3 class="text-dark font-weight-light">Pasos Candidato</h3>
                <div class="blog-post-border mt-3 mb-3"></div>
                <!-- <h5 class="text-muted mb-1">Themes code Pvt.Ltd</h5>
                <p class="mb-4 f-16"><a href="" class="text-muted"><i class="mdi mdi-earth mr-2"></i>Themescodeltd.co.in</a></p> -->
                <!-- <p class="text-muted f-14">Maecenas tempus tellus et condimentum that as rhoncus sem quam semper adipiscing sem neque sed ipsum Nam quam nunc blandit at luctus at id lorem maecenas nec odio et ante tincidunt tempus Donec vitae venenatis faucibus quis ante.</p> -->
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-circle-medium text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Paso 1: Sube tu perfil y cuéntanos quien eres</p>
                </div>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-circle-medium text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Paso 2: Chatea con “Elenius” y deja que te conozca mejor</p>
                </div>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-circle-medium text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Paso 3: Aplica a la oferta u ofertas que mejor encaje con tu perfil</p>
                </div>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-circle-medium text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Paso 4: Te mantendremos informado sobre los avances del proceso</p>
                </div>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-circle-medium text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Paso 5: Las Startups se pondrán en contacto contigo y a hacer historia</p>
                </div>
                <hr>

                <ul class="list-inline mb-4">
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-outline">Crea tu cuenta</a>
                    </li>
                    <!-- <li class="list-inline-item float-right mt-2">
                        <ul class="list-inline bolg-post-icon mb-0">
                            <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                            <li class="list-inline-item f-20"><a href="" class=""><i class="mdi mdi-instagram"></i></a></li>
                        </ul>
                    </li> -->
                </ul>
            </div>

            <div class="col-lg-7">
                <div class="blog-post-testi">
                    <div class="row align-items-center">
                        <div class="col-md-1 col-1">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">

                            </div>
                        </div>
                        <div class="col-md-11 col-11">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div>
                                        <img src="/../assets/resources/images/promo/4.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>