<section class="bg-home">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-9">
                        <div class="home-title text-center text-white">
                            <h1 class="mb-4" id="dynamic-txt">CREA</h1>
                            <div class="col-lg-3 col-md-6" style="margin: 0 auto;">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-custom btn-block" value="Lánzate">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>