<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-custom h2"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">New for CRACKS !</h5>
            </div>
            <div class="col-lg-8">
                <div class="subscribe">
                    <form (submit)="onSubmit()">
                        <div class="row">
                            <div class="col-md-9">
                                <input type="text" [(ngModel)]="email" name ="email" class="form-control" placeholder="Ingrese aquí su e-mail para recibir las últimas notificaciones">
                            </div>
                            <div class="col-md-3">
                                <button type="submit" class="btn btn-custom">Enviar</button>
                            </div>
                        </div>
                        <p class="red">{{message}}</p>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

 
